html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

/* Pannello laterale */
#side-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  max-width: 300px;
  height: 100%;
  background: #fff;
  box-shadow: -4px 0 10px rgba(0,0,0,0.3);
  padding: 20px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 9999;
}

#side-panel.show {
  transform: translateX(0);
}

#close-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 6px 10px;
  float: right;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 600px) {
  #side-panel {
    width: 60%;
  }
}
